################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SimulatedDiceRolling/v16/Server/sqlite3
*.dll
*.pdb
*.suo